* {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}


body {
    font-family: 'League Spartan', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

img {
    max-width: 100%;
}


.conteaner {
    max-width: 1140px;
    margin: 0px auto;
}


.wrapper {
    min-height: 100%;
}


.header {
    background: #F8F8F8;
    min-height: 100vh;
    padding-bottom: 168px;
}

.header__contaner {
    display: flex;
}

.header__desc {
    max-width: 627px;
    padding-top: 104px;
    margin-right: 32px;
}

.supertitle {
    font-size: 24px;
    font-weight: 300;

}

.header__supertitle {
    margin-bottom: 53px;
}

.title {
    font-size: 250px;
    margin-bottom: 55px;
    line-height: 1;
    margin-bottom: 25px;
}

.header__text {
    color: #161515;
    font-size: 32px;
    font-weight: 300px;
    line-height: 155%;
    margin-top: 0;
    margin-bottom: 60px;
}

.offer {
    display: flex;
}

.offer__link {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    display: inline-block;
    background-color: #161515;
    padding: 26px 74px;
}

.offer__price {
    background: #FFF;
    box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
    padding: 16px 28px;
    color: #272727;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    align-items: center;
}

.header__img-wrap {
    padding-left: 33px;
    width: 408px;
}

.header__img {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.products {
    padding-top: 43px;
    padding-bottom: 142px;
}

.products__content {
    max-width: 531px;
    margin: 0 auto;
    text-align: center;
}

.product__supertitle {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.section-title {
    font-size: 72px;

}

.section-title {
    color: rgb(0, 0, 0);
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 84px;
}

.product_ {
    margin-bottom: 86px;
}

.product:last-child {
    margin-bottom: 60px;
}

.product__img-wrap {
    background-color: rgb(248, 248, 248);
    max-width: 416px;
    margin: 0 auto;
    padding: 110px 0px;
    margin-bottom: 66px;
}

.subtitle {
    color: rgb(22, 21, 21);
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 16px;
}

.product__text {
    margin: 0px;
    color: rgb(22, 21, 21);
    font-size: 32px;
    font-weight: 300;
    line-height: 155%;
}

.subtitle_underline {
    margin-bottom: 50px;
}

.subtitle_underline::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(112, 112, 112);
    max-width: 178px;
    margin: 0 auto;
    margin-top: 10px;
}

.products__desc-text {
    margin: 0px;
    color: rgb(22, 21, 21);
    font-size: 24px;
    font-weight: 300;
    line-height: 170%;
}

.products__desc-text a {
    font-weight: 500;
    color: rgb(187, 139, 93);
}